<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h2>{{eNo}}</h2>
    <div>
        <h2>Login</h2>
        <div> <label>User Name :</label> <input type="text" name="userName"> </div>
        <div> <label>Password :</label> <input type="text" name="password"> </div>
        <div><button>Submit</button><button>Cancel</button></div>
    </div>
</body>
</html>

